################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Opslogix.Grafana.Labs.Grafana.AlertManager/.vs/Opslogix.Grafana.Labs.Grafana.AlertManager/FileContentIndex
/Opslogix.Grafana.Labs.Grafana.AlertManager/.vs/Opslogix.Grafana.Labs.Grafana.AlertManager/v17/ResourceExplorer
/Opslogix.Grafana.Labs.Grafana.AlertManager/bin/Release
/Opslogix.Grafana.Labs.Grafana.AlertManager/obj/Debug/Opslogix.Grafana.Labs.Grafana.AlertManager.mpproj.AssemblyReference.cache
/Opslogix.Grafana.Labs.Grafana.AlertManager/.vs/Opslogix.Grafana.Labs.Grafana.AlertManager/v17/.suo
/Opslogix.Grafana.Labs.Grafana.AlertManager/.vs/Opslogix.Grafana.Labs.Grafana.AlertManager/v17/DocumentLayout.backup.json
/Opslogix.Grafana.Labs.Grafana.AlertManager/.vs/Opslogix.Grafana.Labs.Grafana.AlertManager/v17/DocumentLayout.json
/Opslogix.Grafana.Labs.Grafana.AlertManager/obj/Release/Opslogix.Grafana.Labs.Grafana.Alertmanager.mp
/Opslogix.Grafana.Labs.Grafana.AlertManager/obj/Release/Opslogix.Grafana.Labs.Grafana.Alertmanager.xml
